<p id="notice"><%= notice %></p>

<section class="bg-white border-b py-8">
  <div class="container mx-auto flex flex-wrap pt-4 pb-12">
    <%= turbo_stream_from :projects %>
    <h1 class="w-full text-5xl font-bold leading-tight text-gray-800">
      Projects
    </h1>

    <div class="w-full mb-4">
      <%= turbo_frame_tag 'project_form' do %>
        <%= render "projects/form", project: @project %>
      <% end =%>
    </div>

    <div class="w-full mb-4">
      <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"></div>
    </div>

    <%= turbo_frame_tag 'projects', class: "container mx-auto flex flex-wrap pt-4 pb-12" do %>
      <%= render @projects %>
    <% end %>
  </div>
</section>
